.pagination {
    margin: 10px auto;
    display: flex;
    list-style: none;
    outline: none;
  }
  .pagination > .active > a{
    /* background-color: #47ccde ; */
    background-color: #1b1b1b ;
    /* border-color: #47ccde ; */
    color: #fff;
  }
  .pagination > li > a{
    /* border: 1px solid #47ccde ; */
    border-radius: 100%;
    padding: 5px 5px;
    font-size: 14px;
    margin: 2px;
    outline: none;
    cursor: pointer;
  }
  .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    /* background-color: #47ccde ; */
    background-color: #1b1b1b ;
    border-color: #47ccde;
    outline: none ;
  }
  .pagination > li > a, .pagination > li > span{
    color: #47ccde
  }
  .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
    border-radius: unset
  }


.seleU{
    border: none;
    outline: none;
    box-shadow: none;
    background-color: #3485e9 !important;
    color: #ffffff;
    }
  
.myscrollbar{
      max-height: 300px; 
    overflow-y: hidden;
}
/* .myscrollbar::-webkit-scrollbar {
  width: 5px;
  visibility: hidden;
} */
.myscrollbar:hover{
  overflow-y: auto;
}

.userIdArea{
    margin-bottom: 10px;
    transition: 0.3s;
    padding: 14px 0px;
    width: 100%;
    border-radius: 7px;
    background-color: #ffffff;
    color: #1b1b1b;
    box-shadow: 1px 7px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

/* .userIdArea:hover{
  border: none;
  outline: none;
  box-shadow: none;
  background-color: #78acec;
  color: #ffffff;
} */

.sessionIdArea{
  margin-bottom: 10px;
  transition: 0.3s;
  padding: 7px 0px;
  width: 100%;
  border-radius: 7px;
  /* background-color: #ffffff;
  color: #1b1b1b; */
  background-color: rgba(1,116,255,0.6);
  color: #ffffff;
  box-shadow: 1px 7px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
/* .sessionIdArea:hover{
  border: none;
  outline: none;
  box-shadow: none;
  background-color: #78acec;
  color: #ffffff;
} */